@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
}
a {
  text-decoration: none;
  color: #b3b3b2;
}
ul,
ol {
  list-style-type: none;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/*===================HEADER!!!!============*/
header {
  margin-bottom: 60px;
}

.header-container {
  display: flex;
  align-items: center;
  position: relative;
}
.header-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-image: repeating-linear-gradient(
    to right,
    #404040 0px,
    #404040 5px,
    transparent 5px,
    transparent 10px
  );
}

.nav-bar {
  flex: 1;
}
.logo {
  flex-shrink: 0;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 30px 0;
}

.nav-links a {
  padding: 18px 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  border-radius: 12px;
  transition: background-color 0.2s ease;
}
.nav-links li:nth-child(2) a {
  border: 1px dashed #404040;
  border-radius: 12px;
}
.nav-links a:hover {
  background-color: #1a1a1a;
}
.nav-links a.active {
  color: #ffff;
  background-color: #1a1a1a;
}

.contact {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
}

.icon img {
  width: 20px;
  height: 20px;
}
.icon {
  border: 1px solid #1a1a1a;
  border-radius: 12px;
  padding: 18px;
  background-color: #1a1a1a;
}

.nav-button {
  color: #0f0f0f;
  padding: 18px 30px;
  background-color: #ae9b84;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  transition: background-color 0.2s ease;
}
.nav-button:hover {
  background-color: #1a1a1a;
  color: #ffff;
}

/*header finishes here*/

main {
  overflow: hidden;
}

/*===========Hero starts here===========*/
.hero-content {
  max-width: 100%;
}
.hero-image {
  position: relative;
  width: 100%;
  height: 624px;
}
.hero-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

/* Wrapper position & curved notches */
.hero-button-wrapper {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

/* Left curve wrapper-ზე */
.hero-button-wrapper::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 40px;
  left: -38px;
  background: radial-gradient(circle at 0 0, transparent 20px, #000 21px);
}

/* Right curve wrapper-ზე */
.hero-button-wrapper::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 40px;
  right: -37px;
  background: radial-gradient(circle at 100% 0, transparent 20px, #000 21px);
}

/* ბათონი და ანიმაცა */
.hero-button {
  padding: 18px 24px;
  border-radius: 50px;
  background: #1f1f1f;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border: none;

  position: relative; /* animated-border-ისთვის */
  overflow: hidden;
}

/* Animated border button-ზე*/
.hero-button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    transparent,
    #ae9b84,
    #ffffff,
    #ae9b84,
    transparent
  );
  animation: rotate 3s linear infinite;
  z-index: -2;
}

.hero-button::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #1f1f1f;
  border-radius: 48px;
  z-index: -1;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* button-ის ტექსტი და სვგ ანიმაციებზე წინ, და ტექსტი სპანში რომ გამოჩნდეს */
.hero-button,
.hero-button .arrow {
  position: relative;
  z-index: 1;
}

.arrow svg {
  width: 24px;
  height: 24px;
}
.border {
  position: absolute;
  width: 200px;
  height: 54px;
  background-color: #000;
  top: 572px;
  right: 600px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/*====================hero section ends here*/

/*============ELEVATE STYLE===============*/
.elevate-style {
  margin-bottom: 24px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px dashed #404040;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.right-item {
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-right: 2px dashed #404040;
}

.category {
  display: flex;
  align-items: center;
  gap: 14px;
}
.category a {
  padding: 14px 24px;
  border: 1px dashed #404040;
  border-radius: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}
.category a:hover {
  background-color: #ae9b84;
  color: #ffff;
}

.category-title {
  font-weight: 500;
  font-size: 48px;
  color: #ffffff;
  text-transform: uppercase;
}
.category-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #676665;
}

.left-inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  padding: 70px 50px;
}
.item:nth-child(1),
.item:nth-child(3) {
  border-right: 2px dashed #404040;
}
.item:nth-child(1),
.item:nth-child(2) {
  border-bottom: 2px dashed #404040;
}

.item h2 {
  font-weight: 500;
  font-size: 50px;
  line-height: 150%;
  color: #ffffff;
}

.item p,
.trends-title p,
.cards-content p,
.collection-heading p,
.questions-heading p,
.questions-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #81807e;
}

/*============CRAFTING TRENDS ==============*/
.trends-title {
  padding: 80px;
  border: 2px dashed #404040;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.trends-title h2,
.collection-heading h2,
.questions-heading h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.trends-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  border: 2px dashed #404040;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cards-content h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 16px;
}
.star-icon {
  margin-bottom: 50px;
}
.cards-content {
  padding: 60px;
  position: relative;
  overflow: hidden;
}
.card-icons {
  position: absolute;
  top: 0;
  right: 0;
}

/* ვერტიკალურად 1 და 2 ქარდზე ბორდერი, პირველ რიგში */
.trends-cards:nth-child(1),
.trends-cards:nth-child(2) {
  border-right: 2px dashed #404040;
}

/* ვერტიკალური ბორდერი 4 და 5 ქარდზე მეორე რიგში */
.trends-cards:nth-child(4),
.trends-cards:nth-child(5) {
  border-right: 2px dashed #404040;
}

/* ჰორიზონტალური 1, 2, 3 ქარდზე ბორდერ ბოთომით */
.trends-cards:nth-child(1),
.trends-cards:nth-child(2),
.trends-cards:nth-child(3) {
  border-bottom: 2px dashed #404040;
}

/*-=========================COLLECTION section =========*/
.collection {
  margin-bottom: 36px;
}
.collection-heading {
  position: relative;
  padding: 60px;
  overflow: hidden;
  border: 2px dashed #404040;
  border-top: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.collection-heading h2 {
  width: 1000px;
}
.collection-heading::after {
  content: url(assets/Abstract.png);
  position: absolute;
  right: -179px;
  top: 2px;
  width: 425px;
}
.collection-lists,
.questions-lists {
  display: flex;
  gap: 14px;
  align-items: center;
}
.collection p,
.questions-heading p {
  margin-bottom: 50px;
}
.collection-lists li a,
.questions-lists li a {
  border: 1px dashed #404040;
  border-radius: 12px;
  padding: 18px 24px;
  display: block;
}

.collection-lists li a.active {
  color: #ffff;
  background-color: #ae9b84;
}
.collection-lists li a:hover {
  background-color: #ae9b84;
  color: #ffff;
}

.collection-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  border: 2px dashed #404040;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* ვერტიკალურად 1 და 2 ქარდზე ბორდერი, პირველ რიგში */
.collection-cards:nth-child(1),
.collection-cards:nth-child(2) {
  border-right: 2px dashed #404040;
}

/* ვერტიკალური ბორდერი 4 და 5 ქარდზე მეორე რიგში */
.collection-cards:nth-child(4),
.collection-cards:nth-child(5) {
  border-right: 2px dashed #404040;
}

/* ჰორიზონტალური 1, 2, 3 ქარდზე ბორდერ ბოთომით */
.collection-cards:nth-child(1),
.collection-cards:nth-child(2),
.collection-cards:nth-child(3) {
  border-bottom: 2px dashed #404040;
}

.collection-cards-content {
  width: 100%;
  height: 100%;
  padding: 30px;
}
.img-wrapper {
  width: 400px;
  height: 386px;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.img-wrapper img:hover {
  transform: scale(1.1);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.left-content {
  background-color: #1a1a1a;
  padding: 10px 16px;
  border: 1px dashed #404040;
  border-radius: 100px;
}

.left-content:hover {
  background-color: #ae9b84;
  color: #ffff;
}
.collection-btn:hover {
  background-color: #ae9b84;
  color: #ffff;
}

.collection-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 18px 24px;
  border-radius: 12px;
  background-color: #1f1f1f;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.card-footer-text-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.different-txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #81807e;
}
.dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #4d4d4d;
}
.left p,
.right p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #cccccc;
}

/*==========quesitons section!!!!=========*/
.questions-section {
  margin-bottom: 36px;
}

.questions-heading {
  position: relative;
  padding: 60px;
  overflow: hidden;
  border: 2px dashed #404040;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.questions-heading::after {
  content: url(assets/Group.png);
  position: absolute;
  right: -179px;
  top: 2px;
  width: 425px;
}
.questions-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
.question-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
}
.questions-lists li a.active {
  color: #ffff;
  background-color: #ae9b84;
}
.questions-lists li a:hover {
  background-color: #ae9b84;
  color: #ffff;
}
.questions-cards {
  padding: 60px;
}

/*============================question section ends here */

/*footer-part*/
.footer-part {
  border-top: 2px dashed #404040;
  border-bottom: 2px dashed #404040;
}
.question-title {
  margin-bottom: 16px;
  cursor: pointer;
}
.question-title:hover {
  color: #cea779;
}
.questions-p:hover {
  color: #ae9b84;
  cursor: pointer;
}

.questions-grid-container {
  border: 2px dashed #404040;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footer-flex-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}

.footer-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 1.8s ease infinite;
}
.footer-nav li a:hover {
  background-color: #a2896a;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.footer-icons a {
  border: 1px solid #ae9b84;
  border-radius: 12px;
  background-color: #ae9b84;
  padding: 16px;
}
.footer-icons img {
  width: 34px;
  height: 34px;
}
/* ვერტიკალური ბორდერი - 1 და 5 ქარდზე: მეხუთე ქარდის ბოლომდე*/
.questions-cards:nth-child(1),
.questions-cards:nth-child(3),
.questions-cards:nth-child(5) {
  border-right: 2px dashed #404040;
}
/* ჰორიზონტალური ბორდერი - 1, 2, 3,4 ქარდზე (პირველი,მეორე რიგები) */
.questions-cards:nth-child(1),
.questions-cards:nth-child(2),
.questions-cards:nth-child(3),
.questions-cards:nth-child(4) {
  border-bottom: 2px dashed #404040;
}

/*FOOTER*/
.footer-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0;
}
.footer-flex h6 {
  font-weight: 500;
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 30px;
}
.footer-links li a {
  display: inline-block;
  transition: transform 0.1s ease;
}
.footer-links li a:hover {
  transform: scale(1.1);
}

#subscribe {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.subscribe {
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
}

#email {
  background-color: #1a1a1a;
  border: none;
  padding: 18px 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-links a {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 150%;
  color: #676665;
}

.right-copyright p,
.left-terms p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #81807e;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;

}

.left-terms{
  display: flex;
  gap: 22px;
}

footer{
  border-top: 2px dashed #404040;

}